*{
    font-family: 'Changa', sans-serif;
    box-sizing: border-box;
    margin: 0; 
}
body{
    background:linear-gradient(#544a7d,#ffd452);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    /* the flex wrap is impotant to  set the justifu content */
    justify-content: space-around;
}
.calculator{
    width: 900px;
    height: 1000px;
    background-color: rgba(250, 235, 215, 0.736);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-self:center;
    align-self: center;
    margin-left:40%;
    font-size: 60px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
input{
    font-size: 60px;
    background-color: rgb(97, 161, 97);
    width: 800px;
    height: 100px;
    border-radius: 10px;
    margin: 30px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;     
}
.buttons div:not(.on-off){
   background-color: darkgrey;
   margin: 10px;
   width: 140px;
   padding: 8px;
   box-shadow: 1px 3px 5px 2px grey;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   border: 1px solid gray;
   cursor: pointer;
}
.buttons div:hover:not(.on-off){
   box-shadow: 1px 3px 5px 2px grey inset;
}
.buttons .on-off{
    display: block;
    background-color: red;
    width: 870px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px 2px 2px 1px red;
    text-align: center;
}
.on-off:hover{
    box-shadow: 1px 3px 5px 2px rgb(245, 175, 175) inset;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.navBar{
    width: 200px;
    background-color: #261c50c6;
    font-size: smaller;
    display: flex;
    flex-direction: column;
}
.navBar div{
    font-size: 30px;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.navBar div:hover{
    background-color: #0f577e;
    cursor: pointer;
}
.zeros{
    margin: 15px 15px;
}
.navBar button{
    font-size: 30px;
    background-color: #261c50c6 ;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
} 
.dark-mode {
    background-color: #333;
    color: #fff;
}
button.dark-mode{
    background-color: #333;
}
.dark-mode .navBar {
    background-color: #222;
}
 
.dark-background{
    background:  linear-gradient(0deg, rgba(70,70,70,1) 0%, rgba(0,0,0,1) 100%);
}